rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isCollaborator() {
      return isAuthenticated() && ('email' in request.auth.token) && ('collaborators' in resource.data) && (request.auth.token.email in resource.data.collaborators);
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /decks/{deckId} {
      allow read: if isAuthenticated() && (resource.data.userId == request.auth.uid || isCollaborator());
      allow create: if isAuthenticated() && request.resource.data.userId == request.auth.uid;
      allow update: if isAuthenticated() && (resource.data.userId == request.auth.uid || isCollaborator()) && request.resource.data.userId == resource.data.userId;
      allow delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
    }

    match /categories/{categoryId} {
      allow read: if isAuthenticated() && (resource.data.userId == request.auth.uid || isCollaborator());
      allow create: if isAuthenticated() && request.resource.data.userId == request.auth.uid;
      allow update: if isAuthenticated() && (resource.data.userId == request.auth.uid || isCollaborator()) && request.resource.data.userId == resource.data.userId;
      allow delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
    }

    match /liveRooms/{roomId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated();
      allow delete: if isAuthenticated() && resource.data.hostId == request.auth.uid;
    }
  }
}
